<%- include("headers/NavLogSign", {title:"SINTETIK Register"}) %>
<div class="register-form">
  <h2 class="text-center">Register</h2>
  <form action="/register" method="post">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <br>
    <hr>
    <br>
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="Name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="birthDate">Birth Date</label>
      <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Enter birthDate">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label><br>
      
      <input type="radio" id="gender" value="Male" name="gender">
      <label for="">Male</label><br>
      <input type="radio" id="gender" value="Female" name="gender">
      <label for="">Female</label><br>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number">
    </div><br>
    <button type="submit" class="btn btn-primary btn-block">Register</button><br>
    <h6 class="text-center">back to <span><a href="/login">Login</a></span></h6>
  </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
