<%- include("headers/NavSisa", {title:"SINTETIK User Detail"}) %>
<div class="login-form">
</form>
<div class="container">
  <h2 style="text-align: center;" class="my-3">User Details</h2>
  <div>
      <div>
          <div class="row g-0">

            <div class="col-md-4">
            <div >
              <div >
                <h3 > 
                  Halo saya <%= user[0].name %>
                </h3>
                <p>
                  Mari kita cuan cuan cuan !
                </p>
                <p>Bagikan pada temanmu di Friend Feed</p>
               
               
              </div>
            </div>
          </div>
        </div>
        <div>
          <br><br>
          <h4>scan me now!</h4>
          <h6>for discount up to 50%</h6>
          <img src="<%= qrCodeURL %>"  style="width: 300px; text-align: center;">
        </div>
        </div>
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
